@CHARSET "UTF-8";
body,p,h1,h2,h3,h4,h5{margin: 0 auto;background:#636472;}
img, div {behavior: url(style/iepngfix.htc);}
.clearfix{clear:both;}

.main{
	font-family: 'Arvo', serif;
	color:#333333;
	width: 580px;
	margin: 0 auto;
}

h1{
	width: 580px;
	height: 90px;
	top: 175px;
	position: relative;
	font-size: 4em;
	text-transform: uppercase;
	letter-spacing: -4px;
}
.main .subtitle{
	font-family: 'Inconsolata', sans-serif;
	font-size: 2em;
	color:#c2c2c6;
	width: 580px;
	height: 90px;
	top: 160px;
	position: relative;
}
.main .speach{
	font-family: 'Inconsolata', sans-serif;
	color:#c2c2c6;
	width: 580px;
	height: 90px;
	top: 130px;
	position: relative;
	text-align: justify;

}

.main .speach span{
	color:#f0d700;
}

.main .speach a{
	text-decoration: none;
	color:#f0d700;

}
.main .social{
	width: 580px;
	top: 165px;
	position: relative;
}
.main .social div{
	width: 32px;
	height: 32px;
	display: inline-block;
}
.main .social div a{
	text-decoration: none;
	visibility: visible;
	zoom: 1;
	opacity: 0;
	top: 0px;
	padding: 14px;
	padding-top: 0px;
}
.main .social #facebook{background: url('images/facebook.png') no-repeat;}
.main .social #twitter{background: url('images/twitter.png');}
.main .social #gplus{background: url('images/gplus.png');}
.main .social #linkedin{background: url('images/linkedin.png');}
.main .social #skype{background: url('images/skype.png');}
.main .social #instagram{background: url('images/instagram.png');}
.main .social #email{background: url('images/email.png');}